{% include "web_site/base.html" %}

<div class="container">
    <div class="row">
        <h2><center>Деффектная ведомость подъезда</center></h2><br>
        <!-- <a class="btn btn-primary" href="/drp" role="button">ДРП</a> -->
    </div>
</div>

{% include "web_site/selection_simple_entrance.html" %}


<div class="container">
    <div class="row">
        <div class="input-group">
            <form action="/my_job/entrance/sample/dv" method="post">
                {% csrf_token %}
                <div>
                    {% for field in form %}
                <div class="form-group">
                    {{field.label_tag}}
                    <div>{{field}}</div>
                    <div class="error">{{field.errors}}</div>
                </div>
                    {% endfor %}
                </div>
                <input type="submit", name="'button" action="/my_job/entrance/sample/dv" value="Отправить" class="btn btn-secondary btn-sm">
            </form>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>